{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ]
}
